<p id="notice"><%= notice %></p>

<p>
  <strong>File attachment:</strong>
  <%= @video.file_attachment %>
</p>

<p>
  <strong>File attachment tmp:</strong>
  <%= @video.file_attachment_tmp %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
