<p id="notice"><%= notice %></p>

<p>
  <strong>File url:</strong>
  <%= @video.file_url %>
</p>

<p>
  <strong>File url tmp:</strong>
  <%= @video.file_url_tmp %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
